@charset "UTF-8";

		@font-face {
            font-family: "dijital";
            src: url("../font/dijital.ttf");
        }

        @font-face {
            font-family: "bold";
            src: url("../font/bold.ttf");
        }

        @font-face {
            font-family: "abc";
            src: url("../font/abc.ttf");
        }


        #background {
            width: 70%;
            margin : auto;
            position: relative;
        }


		#ch, #cm, #cs{
			border : none;
		}
		
        #time {
            font-family: "dijital";
            font-size: 10em;
            padding: 5px 10px;
            color: white;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        #content {
            background-color: #dcdcdc;
            height : 500px;
            margin-top : 0px;
        }

        #alarmSetting {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            font-family: "dijital";
            background-color: darkgray;
            color: white;
            padding: 15px;
            border: 3px solid white;
        }
		#result{
			position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "abc";
            color: black;
            padding : 15px;
            padding-top : 20px;
            z-index : 3;
            text-align: center;
			            
            
            
		}
        #alarmSetting:hover {
            background-color: dimgray;
            color: gainsboro;
            cursor: pointer;
        }

        #page {
            position: relative;
            top: 70px;
            display: none;
            width: 100%;
            z-index: 1;
            height: 70%;
            background-color: white;
        }


        .pmenu {
            position: absolute;
            width: 300px;
            height: 50%;
            border-right: 2px solid #dcdcdc;
            margin : 0;
        }

        .pmenu>ul>li {
            width: 150px;
            list-style: none;
            margin-top: 50px;
            font-family: "abc";
            font-size: 1.2em;
            display: none;
        }

        .pmenu>ul>li:first-child {
            font-weight: 900;
        }

        .pmenu>ul>li:hover {
            cursor: pointer;
        }
        

        
        #loginpage{
        	border-bottom-left-radius : 30px; 
        	border-bottom-right-radius : 30px; 
        	position : absolute;
        	width : 200px; 
        	margin-left: 83%; 
        	z-index : 5; 
         	background-color : white;
        	height : 130px;
        	display : none;
        	}
        	#loginpage > ul{
        		list-style : none;
        		line-height : 35px;
				
        	}
        	#loginpage > ul > li > a{
        		text-decoration : none;
        	}